@model Verkehrskontrolle.Models.Fahrzeug

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fahrzeug</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Antrieb" class="control-label"></label>
                <input asp-for="Antrieb" class="form-control" />
                <span asp-validation-for="Antrieb" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sitze" class="control-label"></label>
                <input asp-for="Sitze" class="form-control" />
                <span asp-validation-for="Sitze" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Leistung" class="control-label"></label>
                <input asp-for="Leistung" class="form-control" />
                <span asp-validation-for="Leistung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZulassungDatum" class="control-label"></label>
                <input asp-for="ZulassungDatum" class="form-control" />
                <span asp-validation-for="ZulassungDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TüvDatum" class="control-label"></label>
                <input asp-for="TüvDatum" class="form-control" />
                <span asp-validation-for="TüvDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kennzeichen" class="control-label"></label>
                <input asp-for="Kennzeichen" class="form-control" />
                <span asp-validation-for="Kennzeichen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HalterId" class="control-label"></label>
                <select asp-for="HalterId" class="form-control" asp-items="ViewBag.HalterId"></select>
                <span asp-validation-for="HalterId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
